body {
    margin: 0;
    background-color:white;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.code-image{
    margin-left: 50px;
    margin-top: 30px;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 55px;
    color: rgb(71, 101, 190);
    text-align: center;
    font-weight: bold;
}

.role {
    font-family: 'Roboto';
    font-size: 30px;
    color: rgb(71, 101, 190);
    text-align: center;
}

.web-dev-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.middle-container{
    background-color: rgb(71, 101, 190) ;
}

.profile-image{
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;  
}

.profile-photo{
    padding-top: 5rem;
}

h2{
    text-align: center;
    color:white;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
}

.profile-desc{
    font-family: Roboto;
    color: white;
    font-size: 15px;
    text-align: center;
}


.bold-text{
    font-weight: bold;
}

hr{
    height: 40px;
    background-color:rgb(71, 101, 190) ;
    border:0 ;
}

ul{
    list-style-type: none;
    color: white;
    font-family: Roboto;
    text-align: center;
    padding: 0;
}

#skills-desc{
    padding-bottom: 30px;
}


.contact{
    background-color: white;
    margin-top: 0px;
    color: black;
}

li{
    padding-bottom: 6px;
}

.contact-heading{
    text-align: center;
    color:black;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}

.contact-text{
    font-family: Roboto;
    color: black;
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}

.bottom-container{
    background-color: rgb(71, 101, 190) ;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

a{
    color:rgb(71, 101, 190) ;
    text-decoration: none;
}  

.footer{
    font-family: Roboto;
    color: white;
    text-align: center;
}

a{
    border-color: rgb(71, 101, 190) ;
    text-align: center;
    color:white;
    font-family: Roboto;
    text-decoration: none;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.links a:hover{
    color: plum;
}

h3{
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: Roboto;
}

.education{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* For Mobile Devices*/
@media (min-width: 319px) and (max-width: 480px) {
    .code-image {
      height: 50px;
      width: 50px;
      margin-left: 20px;
    }

    .name{
        font-size: 2rem;
        font-weight: bold;
    }

    .role{
        font-size: 1rem;
    }

    .web-dev-image{
        width: 250px;
        height: auto;
    }

    .profile-image{
        width: 80px;
        height: 80px;
    }

    .title{
        font-size: 1.5em;
    }

    .profile-desc{
        font-size: 0.8rem;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .education h2{
        font-size: 1.5rem;
    }

    .contact{
        padding-top: 5px;
        padding-bottom: 25px;
    }
  
    .contact-text{
        font-size: 0.8rem;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact-heading{
        font-size: 1.5rem;
    }

    .message-icon{
        width: 20px;
        height: 20px;
    }

    .links {
        font-size: 0.8rem;
    }

    .footer{
        font-size: 0.8rem;
    }


  }

  /* For iPads and Tablets */
  @media (min-width: 481px) and (max-width: 1200px) {
    .code-image {
        height: 100px;
        width: 100px;
      }
  
    .name{
        font-size: 5rem;
      }
  
    .role{
        font-size: 2.5rem;
      }
  
    .web-dev-image{
        width: 50vh;
        height: auto;
      }
  
    .profile-image{
        width: 180px;
        height: 180px;
      }
  
    .title{
        font-size: 4em;
      }
  
    .profile-desc{
        font-size: 2rem;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }

    .education h2{
        font-size: 4rem;
    }

    .contact{
        padding-top: 5px;
        padding-bottom: 25px;
    }
  
    .contact-text{
        font-size: 2rem;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }
  
    .contact-heading{
        font-size: 4rem;
      }
  
    .message-icon{
        width: 40px;
        height: 40px;
      }
  
    .links {
        font-size: 2rem;
      }
  
    .footer{
        font-size: 2rem;
      }
  }
